# Data Preparation

In [1]:
## Import data from file
# Pandas is used for data manipulation
import pandas as pd

# Read in data as pandas dataframe and display first 5 rows
training_data = pd.read_csv('train.csv')
testing_data = pd.read_csv('test.csv')

In [2]:
training_data.head(5)

,Id,Education Level,Age,Age Range,Employment Status,Gender,Children,Weekly Earnings,Year,Weekly Hours Worked,...,Playing with Children,Job Searching,Shopping,Eating and Drinking,Socializing & Relaxing,Television,Golfing,Running,Volunteering,Total
0,1,High School,51,50-59,Unemployed,Female,0,0,2005,0,...,0,0,0,40,180,120,0,0,0,24.000000
1,2,Bachelor,42,40-49,Employed,Female,2,1480,2005,40,...,20,0,120,40,15,15,0,0,0,21.583333
2,3,Master,47,40-49,Employed,Male,0,904,2005,40,...,0,0,15,85,214,199,0,0,0,17.733333
3,4,Some College,21,20-29,Employed,Female,0,320,2005,40,...,0,0,105,30,240,240,0,0,0,26.833333
4,5,High School,49,40-49,Not in labor force,Female,0,0,2005,0,...,0,0,0,35,600,40,0,0,0,23.750000

In [3]:
testing_data.head(5)

,id,Education Level,Age,Age Range,Employment Status,Gender,Children,Weekly Earnings,Year,Weekly Hours Worked,...,Playing with Children,Job Searching,Shopping,Eating and Drinking,Socializing & Relaxing,Television,Golfing,Running,Volunteering,Total
0,1,11th grade,17,0-19,NaN,Male,2,240,2005,22,...,0,0,0,50,145,65,0,0,0,15.000000
1,2,Master,49,40-49,NaN,Female,0,0,2005,0,...,0,0,60,15,570,90,0,0,0,22.500000
2,3,Bachelor,40,40-49,NaN,Male,3,1470,2005,35,...,0,0,45,30,409,409,0,0,0,28.766667
3,4,Bachelor,46,40-49,NaN,Female,2,673,2005,60,...,0,0,130,0,242,60,0,0,0,21.450000
4,5,High School,39,30-39,NaN,Female,2,1385,2005,40,...,0,0,3,5,427,105,0,0,0,22.666667

In [4]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64006 entries, 0 to 64005
Data columns (total 25 columns):
Id                        64006 non-null int64
Education Level           64006 non-null object
Age                       64006 non-null int64
Age Range                 64006 non-null object
Employment Status         64006 non-null object
Gender                    64006 non-null object
Children                  64006 non-null int64
Weekly Earnings           64006 non-null int64
Year                      64006 non-null int64
Weekly Hours Worked       64006 non-null int64
Sleeping                  64006 non-null int64
Grooming                  64006 non-null int64
Housework                 64006 non-null int64
Food & Drink Prep         64006 non-null int64
Caring for Children       64006 non-null int64
Playing with Children     64006 non-null int64
Job Searching             64006 non-null int64
Shopping                  64006 non-null int64
Eating and Drinking       64006 non-null int64
Socializing & Relaxing    64006 non-null int64
Television                64006 non-null int64
Golfing                   64006 non-null int64
Running                   64006 non-null int64
Volunteering              64006 non-null int64
Total                     64006 non-null float64
dtypes: float64(1), int64(20), object(4)
memory usage: 12.2+ MB

In [5]:
testing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33270 entries, 0 to 33269
Data columns (total 25 columns):
id                        33270 non-null int64
Education Level           33270 non-null object
Age                       33270 non-null int64
Age Range                 33270 non-null object
Employment Status         0 non-null float64
Gender                    33270 non-null object
Children                  33270 non-null int64
Weekly Earnings           33270 non-null int64
Year                      33270 non-null int64
Weekly Hours Worked       33270 non-null int64
Sleeping                  33270 non-null int64
Grooming                  33270 non-null int64
Housework                 33270 non-null int64
Food & Drink Prep         33270 non-null int64
Caring for Children       33270 non-null int64
Playing with Children     33270 non-null int64
Job Searching             33270 non-null int64
Shopping                  33270 non-null int64
Eating and Drinking       33270 non-null int64
Socializing & Relaxing    33270 non-null int64
Television                33270 non-null int64
Golfing                   33270 non-null int64
Running                   33270 non-null int64
Volunteering              33270 non-null int64
Total                     33270 non-null float64
dtypes: float64(2), int64(20), object(3)
memory usage: 6.3+ MB

In [6]:
training_data = training_data.replace('9th grade',9)
training_data = training_data.replace('10th grade',10)
training_data = training_data.replace('11th grade',11)
training_data = training_data.replace('12th grade',12)
training_data = training_data.replace('High School',13)
training_data = training_data.replace('Associate Degree',14)
training_data = training_data.replace('Bachelor',15)
training_data = training_data.replace('Master',16)
training_data = training_data.replace('Doctoral Degree',17)
training_data = training_data.replace('Prof. Degree',18)
training_data = training_data.replace('Some College',19)

training_data = training_data.replace('Unemployed',3)
training_data = training_data.replace('Employed',4)
training_data = training_data.replace('Not in labor force',5)

training_data = training_data.replace('Male',1)
training_data = training_data.replace('Female',2)

training_data = training_data.drop('Age Range', axis = 1)
training_data = training_data.drop('Id', axis = 1)
training_data = training_data.drop('Total', axis = 1)

training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64006 entries, 0 to 64005
Data columns (total 22 columns):
Education Level           64006 non-null int64
Age                       64006 non-null int64
Employment Status         64006 non-null int64
Gender                    64006 non-null int64
Children                  64006 non-null int64
Weekly Earnings           64006 non-null int64
Year                      64006 non-null int64
Weekly Hours Worked       64006 non-null int64
Sleeping                  64006 non-null int64
Grooming                  64006 non-null int64
Housework                 64006 non-null int64
Food & Drink Prep         64006 non-null int64
Caring for Children       64006 non-null int64
Playing with Children     64006 non-null int64
Job Searching             64006 non-null int64
Shopping                  64006 non-null int64
Eating and Drinking       64006 non-null int64
Socializing & Relaxing    64006 non-null int64
Television                64006 non-null int64
Golfing                   64006 non-null int64
Running                   64006 non-null int64
Volunteering              64006 non-null int64
dtypes: int64(22)
memory usage: 10.7 MB

In [7]:
testing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33270 entries, 0 to 33269
Data columns (total 25 columns):
id                        33270 non-null int64
Education Level           33270 non-null object
Age                       33270 non-null int64
Age Range                 33270 non-null object
Employment Status         0 non-null float64
Gender                    33270 non-null object
Children                  33270 non-null int64
Weekly Earnings           33270 non-null int64
Year                      33270 non-null int64
Weekly Hours Worked       33270 non-null int64
Sleeping                  33270 non-null int64
Grooming                  33270 non-null int64
Housework                 33270 non-null int64
Food & Drink Prep         33270 non-null int64
Caring for Children       33270 non-null int64
Playing with Children     33270 non-null int64
Job Searching             33270 non-null int64
Shopping                  33270 non-null int64
Eating and Drinking       33270 non-null int64
Socializing & Relaxing    33270 non-null int64
Television                33270 non-null int64
Golfing                   33270 non-null int64
Running                   33270 non-null int64
Volunteering              33270 non-null int64
Total                     33270 non-null float64
dtypes: float64(2), int64(20), object(3)
memory usage: 6.3+ MB

In [8]:

testing_data = testing_data.replace('9th grade',9)
testing_data = testing_data.replace('10th grade',10)
testing_data = testing_data.replace('11th grade',11)
testing_data = testing_data.replace('12th grade',12)
testing_data = testing_data.replace('High School',13)
testing_data = testing_data.replace('Associate Degree',14)
testing_data = testing_data.replace('Bachelor',15)
testing_data = testing_data.replace('Master',16)
testing_data = testing_data.replace('Doctoral Degree',17)
testing_data = testing_data.replace('Prof. Degree',18)
testing_data = testing_data.replace('Some College',19)

testing_data = testing_data.replace('Male',1)
testing_data = testing_data.replace('Female',2)

testing_data = testing_data.drop('Age Range', axis = 1)
testing_data = testing_data.drop('id', axis = 1)
testing_data = testing_data.drop('Total', axis = 1)

testing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33270 entries, 0 to 33269
Data columns (total 22 columns):
Education Level           33270 non-null int64
Age                       33270 non-null int64
Employment Status         0 non-null float64
Gender                    33270 non-null int64
Children                  33270 non-null int64
Weekly Earnings           33270 non-null int64
Year                      33270 non-null int64
Weekly Hours Worked       33270 non-null int64
Sleeping                  33270 non-null int64
Grooming                  33270 non-null int64
Housework                 33270 non-null int64
Food & Drink Prep         33270 non-null int64
Caring for Children       33270 non-null int64
Playing with Children     33270 non-null int64
Job Searching             33270 non-null int64
Shopping                  33270 non-null int64
Eating and Drinking       33270 non-null int64
Socializing & Relaxing    33270 non-null int64
Television                33270 non-null int64
Golfing                   33270 non-null int64
Running                   33270 non-null int64
Volunteering              33270 non-null int64
dtypes: float64(1), int64(21)
memory usage: 5.6 MB

In [9]:
# Use numpy to convert to arrays
import numpy as np

# Labels are the values we want to predict
labels = np.array(training_data['Employment Status'])

# Remove the labels from the features
# axis 1 refers to the columns
features = training_data.drop('Employment Status', axis = 1)

# Saving feature names for later use
feature_list = list(features.columns)

# Convert to numpy array
features = np.array(features)

#######################################################

# Labels are the values we want to predict
labels_test = np.array(testing_data['Employment Status'])

features_test = testing_data.drop('Employment Status', axis = 1)

# Saving feature names for later use
feature_list_test = list(features_test.columns)

# Convert to numpy array
features_test = np.array(features_test)

In [10]:
feature_list_test

['Education Level',
 'Age',
 'Gender',
 'Children',
 'Weekly Earnings',
 'Year',
 'Weekly Hours Worked',
 'Sleeping',
 'Grooming',
 'Housework',
 'Food & Drink Prep',
 'Caring for Children',
 'Playing with Children',
 'Job Searching',
 'Shopping',
 'Eating and Drinking',
 'Socializing & Relaxing',
 'Television',
 'Golfing',
 'Running',
 'Volunteering']

## Training and Testing Sets

In [11]:
train_features = features
test_features = features_test
train_labels = labels
test_labels = labels_test

In [12]:
# Scaling the data
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaler.fit(train_features)
train_features = scaler.transform(train_features)
test_features = scaler.transform(test_features)

/Users/shubhamkothari/anaconda3/lib/python3.6/site-packages/sklearn/utils/validation.py:475: DataConversionWarning: Data with input dtype int64 was converted to float64 by StandardScaler.
  warnings.warn(msg, DataConversionWarning)

In [13]:
print('Training Features Shape:', train_features.shape)
print('Training Labels Shape:', train_labels.shape)
print('Testing Features Shape:', test_features.shape)
print('Testing Labels Shape:', test_labels.shape)

Training Features Shape: (64006, 21)
Training Labels Shape: (64006,)
Testing Features Shape: (33270, 21)
Testing Labels Shape: (33270,)

In [14]:
# Create the model and tune the the parameters
from sklearn.neural_network import MLPClassifier
mlp = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(21, 21, 21),
                   activation='tanh', max_iter=2000)
mlp.fit(train_features, train_labels)
predictions = mlp.predict(test_features)

In [15]:
predictions = np.array(predictions)

In [16]:
employment_status = pd.DataFrame(predictions)

In [17]:
employment_status = employment_status.replace(3, 'Unemployed')
employment_status = employment_status.replace(4, 'Employed')
employment_status = employment_status.replace(5, 'Not in labor force')
employment_status.rename(columns={0: 'Employment Status'}, inplace=True)

In [18]:
testing_data = testing_data.drop('Employment Status', axis = 1)

In [19]:
testing_data = testing_data.join(employment_status)

In [20]:
testing_data

,Education Level,Age,Gender,Children,Weekly Earnings,Year,Weekly Hours Worked,Sleeping,Grooming,Housework,...,Playing with Children,Job Searching,Shopping,Eating and Drinking,Socializing & Relaxing,Television,Golfing,Running,Volunteering,Employment Status
0,11,17,1,2,240,2005,22,570,70,0,...,0,0,0,50,145,65,0,0,0,Employed
1,16,49,2,0,0,2005,0,555,60,0,...,0,0,60,15,570,90,0,0,0,Not in labor force
2,15,40,1,3,1470,2005,35,613,10,0,...,0,0,45,30,409,409,0,0,0,Employed
3,15,46,2,2,673,2005,60,550,35,270,...,0,0,130,0,242,60,0,0,0,Employed
4,13,39,2,2,1385,2005,40,570,0,210,...,0,0,3,5,427,105,0,0,0,Employed
5,19,80,2,0,125,2005,12,585,110,12,...,0,0,0,115,393,188,0,0,0,Employed
6,16,38,2,3,0,2005,0,540,60,0,...,0,0,155,95,295,40,0,0,15,Not in labor force
7,11,76,2,0,0,2005,0,645,45,0,...,0,0,60,90,475,415,0,0,0,Not in labor force
8,15,43,1,2,1769,2005,45,585,24,0,...,0,0,7,30,379,135,0,0,0,Employed
9,9,16,2,3,50,2005,20,485,75,0,...,0,0,0,0,350,60,0,0,0,Employed
10,14,62,1,0,0,2005,0,450,30,160,...,0,0,30,105,345,345,0,0,0,Not in labor force
11,14,28,1,3,0,2005,0,570,0,60,...,195,15,60,45,255,45,0,0,0,Unemployed
12,15,56,1,0,0,2005,60,455,60,0,...,0,0,0,30,290,0,0,0,0,Employed
13,15,30,1,1,1635,2005,50,480,30,0,...,0,0,0,100,390,90,0,0,60,Employed
14,18,61,2,0,0,2005,0,510,70,0,...,0,0,70,120,455,110,0,0,0,Not in labor force
15,19,77,2,0,0,2005,0,480,69,60,...,0,0,0,95,525,360,0,0,0,Not in labor force
16,19,35,1,2,0,2005,50,570,30,0,...,0,0,0,30,240,240,0,0,0,Employed
17,19,47,1,1,1923,2005,55,360,45,105,...,0,0,113,50,270,165,0,0,0,Employed
18,13,73,2,0,200,2005,30,510,90,0,...,0,0,0,90,20,0,0,0,0,Employed
19,13,80,2,0,0,2005,0,510,45,156,...,0,0,40,65,333,135,0,0,0,Not in labor force
20,19,54,1,2,0,2005,0,600,0,0,...,0,105,0,30,440,0,0,0,0,Unemployed
21,15,53,2,0,158,2005,9,545,65,150,...,0,0,0,40,100,0,0,0,0,Employed
22,14,33,2,5,462,2005,40,570,50,0,...,0,0,20,30,73,73,0,0,0,Employed
23,9,85,2,0,0,2005,0,262,63,0,...,0,0,0,10,520,20,0,0,0,Not in labor force
24,9,16,2,1,115,2005,0,360,55,0,...,0,0,405,75,125,110,0,0,0,Employed
25,17,63,2,0,0,2005,55,480,30,0,...,0,0,0,45,430,0,0,0,0,Employed
26,12,85,2,0,0,2005,0,795,90,0,...,0,0,0,30,475,110,0,0,0,Not in labor force
27,13,39,1,0,240,2005,20,640,45,0,...,0,0,60,65,90,0,0,0,35,Employed
28,13,30,1,0,782,2005,40,430,0,60,...,0,0,0,0,235,60,0,0,0,Employed
29,10,16,2,2,135,2005,20,555,210,0,...,0,0,0,15,254,135,0,0,0,Employed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33240,14,65,1,0,280,2012,24,590,55,185,...,0,0,20,50,270,240,0,0,0,Employed
33241,13,79,2,0,0,2012,0,675,15,210,...,0,0,0,50,135,90,0,0,0,Not in labor force
33242,19,53,2,0,703,2012,24,505,80,0,...,0,0,0,110,435,90,0,0,0,Employed
33243,13,23,2,3,410,2012,40,680,0,30,...,0,0,90,60,225,90,0,0,0,Employed
33244,11,25,1,3,640,2012,40,440,40,30,...,0,0,70,77,193,180,0,0,0,Employed
33245,10,53,1,0,744,2012,40,540,0,0,...,0,0,80,105,690,690,0,0,0,Employed
33246,16,69,2,0,0,2012,0,509,55,15,...,0,0,65,115,290,185,0,0,115,Not in labor force
33247,11,70,2,0,0,2012,0,660,30,0,...,0,0,0,30,465,465,0,0,0,Not in labor force
33248,13,72,1,0,0,2012,0,540,30,0,...,0,0,0,110,324,324,270,0,0,Not in labor force
33249,15,37,2,0,0,2012,0,460,45,0,...,0,0,0,30,698,248,0,0,0,Not in labor force
33250,15,68,1,0,0,2012,0,565,60,60,...,0,0,0,45,330,150,0,0,0,Not in labor force
33251,9,15,2,2,0,2012,0,975,60,0,...,0,0,213,35,60,60,0,0,0,Not in labor force
33252,13,25,1,0,542,2012,45,410,40,0,...,0,0,0,45,668,30,0,0,0,Employed
33253,15,65,1,0,0,2012,0,465,35,0,...,0,0,0,35,803,618,0,0,0,Not in labor force
33254,19,59,1,0,0,2012,0,540,60,0,...,0,0,80,60,550,550,0,0,0,Not in labor force
33255,13,80,2,0,0,2012,0,615,45,210,...,0,0,0,90,420,420,0,0,0,Not in labor force
33256,14,42,2,3,805,2012,35,510,60,60,...,0,0,90,75,325,240,0,0,0,Employed
33257,13,69,1,0,0,2012,0,470,0,15,...,0,0,0,60,660,660,0,0,0,Not in labor force
33258,15,39,2,3,0,2012,0,490,0,150,...,0,0,0,60,500,150,0,0,0,Not in labor force
33259,19,59,1,0,1538,2012,50,480,0,0,...,0,0,0,90,870,510,0,0,0,Employed
33260,19,45,2,1,615,2012,35,500,50,170,...,0,0,5,60,490,210,0,0,0,Employed
33261,19,27,2,2,0,2012,0,810,30,330,...,0,0,0,10,260,260,0,0,0,Not in labor force
33262,17,48,2,1,1154,2012,65,420,30,10,...,0,0,70,60,110,110,0,0,0,Employed
33263,13,47,1,0,327,2012,40,570,0,90,...,0,0,120,20,520,280,0,0,0,Employed
33264,16,42,2,3,2692,2012,40,360,20,45,...,165,0,10,50,245,215,0,0,0,Employed
33265,19,37,1,0,808,2012,40,360,5,0,...,0,0,0,30,780,0,0,0,0,Employed
33266,15,42,1,1,1635,2012,40,570,20,90,...,60,0,120,80,135,135,0,0,0,Employed
33267,14,74,1,0,0,2012,0,705,0,0,...,0,0,0,150,395,245,0,0,0,Not in labor force
33268,15,31,1,2,850,2012,47,435,40,0,...,30,0,0,120,355,135,0,20,115,Employed
33269,19,74,2,0,0,2012,0,420,23,0,...,0,0,0,190,465,165,0,0,0,Not in labor force

In [21]:
feature_list_test.append('Employment Status')
testing_data.to_csv('predicted_Employment_Status.csv', columns = feature_list_test)

## Variable Importances

In [22]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor

# Instantiate model 
rf = RandomForestRegressor(n_estimators= 1000, random_state=42)

# Train the model on training data
rf.fit(train_features, train_labels);

# Get numerical feature importances
importances = list(rf.feature_importances_)

# List of tuples with variable and importance
feature_importances = [(feature, round(importance, 2)) for feature, importance in zip(feature_list, importances)]

# Sort the feature importances by most important first
feature_importances = sorted(feature_importances, key = lambda x: x[1], reverse = True)

# Print out the feature and importances 
[print('Variable: {:20} Importance: {}'.format(*pair)) for pair in feature_importances];

Variable: Weekly Hours Worked  Importance: 0.35
Variable: Age                  Importance: 0.12
Variable: Sleeping             Importance: 0.06
Variable: Socializing & Relaxing Importance: 0.06
Variable: Job Searching        Importance: 0.05
Variable: Eating and Drinking  Importance: 0.05
Variable: Television           Importance: 0.05
Variable: Grooming             Importance: 0.04
Variable: Weekly Earnings      Importance: 0.03
Variable: Year                 Importance: 0.03
Variable: Housework            Importance: 0.03
Variable: Food & Drink Prep    Importance: 0.03
Variable: Shopping             Importance: 0.03
Variable: Education Level      Importance: 0.02
Variable: Children             Importance: 0.02
Variable: Caring for Children  Importance: 0.02
Variable: Gender               Importance: 0.01
Variable: Playing with Children Importance: 0.01
Variable: Volunteering         Importance: 0.01
Variable: Golfing              Importance: 0.0
Variable: Running              Importance: 0.0